@page "/pedidos/nuevo"
@using BlazorApp3.Shared.Modelo
@inject HttpClient http
@inject NavigationManager navegar

<h3>Nuevo Pedido</h3>
<EditForm Model="elPedido" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="txtFecha" class="form-label">Fecha</label>
        <InputDate id="txtFecha" class="form-control" @bind-Value="elPedido.Fecha" />
        <ValidationMessage For="(()=>elPedido.Fecha)" />
    </div>

    <div class="mb-3">
        <label for="txtTotal" class="form-label">Total</label>
        <InputNumber id="txtTotal" class="form-control" @bind-Value="elPedido.Total" />
        <ValidationMessage For="(()=>elPedido.Total)" />
    </div>

    <div class="mb-3">
        <label for="txtClienteId" class="form-label">Id del Cliente</label>
        <InputNumber id="txtClienteId" class="form-control" @bind-Value="elPedido.ClienteId" />
        <ValidationMessage For="(()=>elPedido.ClienteId)" />
    </div>

    <div class="mb-3">
        <label for="txtPago" class="form-label">Método de pago</label>
        <InputRadioGroup @bind-Value="elPedido.Metodo_Pago">
                <label><InputRadio Value="1"></InputRadio>Tarjeta</label>
                <label><InputRadio Value="2"></InputRadio>Efectivo</label>
        </InputRadioGroup>
        <ValidationMessage For="(()=>elPedido.Metodo_Pago)" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>

</EditForm>

@code {
    private Pedido elPedido = new Pedido();

    private async void Guardar()
    {
        await http.PostAsJsonAsync("api/pedidos", elPedido);
        navegar.NavigateTo("/pedidos");
    }
}
